.App {
  margin: 15px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Establecer el tamaño del elemento div que contiene el mapa */
#map {
  height: 400 px; /* La altura es de 400 píxeles */
  width: 100%; /* El ancho es el ancho de la página web */
}


